---
---

@import " {{ site.theme }} ";

header {
  display: none;
}
a:link {
  color: white;
}
a:visited {
  color: white;
}
a:hover {
  color: white;
}
a:active {
  color: white;
}
body {
  color: white;
  background-color: black;
}
